
.user_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;

  span {
    margin-right: 10px;
    color: #FFFF;
  }
  a {
    margin-right: 10px;
    color: #FFFF;
  }


}



