body {
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#root {


  text-align: center;
  background-color: #282c34;
  margin: 0 auto;
  width: 1320px;
  min-height: 100vh;
  color: #FFFF;



}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media all and (min-width: 1201px ) {

#root {
  margin: 0 auto;
  width: 1140px;

}



}

@media all and (max-width: 1200px ) {

  #root {
    margin: 0 auto;
    width: 1140px;

  }



}

@media all and (min-width: 992px) and (max-width: 1199px ) {

  #root {

    margin: 0 auto;
    width: 960px;

  }

}

@media all and (min-width: 768px) and (max-width: 990px ) {

  #root {
    margin: 0 auto;
    width: 720px;

  }

}

@media all and (min-width: 576px) and (max-width: 768px ) {

  #root {
    margin: 0 auto;
    width: 540px;

  }

}

@media all and (min-width: 375px) and (max-width: 576px){

  #root {
    margin: 0 auto;
    width: 100%;

  }



}