.container_home {

  margin: 0 auto;
  width: 1200px;

button {

  margin-left: 10px;
  width: 90px;
  height: 52px;
  color: #FFFF;
  /* Blue Dark */

  background: #1E6F9F;
  border-radius: 8px;
  &:hover {
  cursor: pointer;

  }

}

  h1 {

  text-align: left;


  }


}